/* COLORS and FONT SIZES */
/* 
header and footer color #1f2937
header logo text 24px
hero main text 48px extra-bold #f9faf8

*/

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #222;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #1f2937;
  border-bottom: solid 2px #314157;
}

.logo:link,
.logo:visited {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 2.4rem;
  padding: 1.2rem 2rem;
  transition: all 0.2s;
}

.nav-link:hover,
.nav-link:active {
  background-color: #175c40;
}

/* HERO SECTION */

.hero {
  background-color: #1f2937;
  color: #fff;
  padding: 8.2rem 0 9.6rem 0;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
}

.hero-img {
  width: 48rem;
  background-color: red;
}

.hero-left {
  max-width: 40%;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.3;
  letter-spacing: 1.2px;
  margin-bottom: 2.4rem;
}

.hero-txt {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.cta {
  font-size: 2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  background-color: #175c40;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.cta:hover,
.cta:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

/* FEATURES SECTION */

.features-section {
  padding-bottom: 9.6rem;
}

.features-heading {
  font-size: 3.6rem;
  text-align: center;
  padding: 3.6rem 0;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2.4rem;
}

.feature-img {
  display: block;
  width: 100%;
  height: 21.3rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.4rem;
}

.features-list li {
  max-width: 32rem;
}

.features-list p {
  font-size: 1.6rem;
  line-height: 1.25;
}

/* TESTIMONIAL SECTION */

.container-testimonial {
  max-width: 100rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

.testimonial-section {
  background-color: #e5e7eb;
}

blockquote {
  padding: 2.4rem 4.4rem;
  background-color: rgba(0, 0, 0, 0.075);
}

.testimonial-text {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.testimonial-caption {
  font-size: 2.4rem;
  text-align: end;
}
